<!doctype html>
<html lang="no">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>IPP & Kartverket</title>
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css" />
    <link rel="stylesheet" href="{{ url_for('static', filename='index.css') }}" />

  </head>
  <body>
    <div class="header">SAR - Sett IPP ved å klikke i kartet</div>
    <div id="map"></div>

    <script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js"></script>
    <script src="{{ url_for('static', filename='map-config.js') }}"></script>
    <script src="{{ url_for('static', filename='search-zones.js') }}"></script>
    <script src="{{ url_for('static', filename='map.js') }}"></script>
  </body>
</html>
