{% extends "base.html" %}

{% block content %}
<div id="map"></div>
{% endblock %}

{% block scripts %}
    <script type="module" src="{{ url_for('static', filename='js/leaflet.js') }}"></script>
    <script type="module" src="{{ url_for('static', filename='js/display.js') }}"></script>
    <script type="module">
        import { displayMapObjects } from "{{ url_for('static', filename='js/display.js') }}";
        import { MissingPersonMenu } from "{{ url_for('static', filename='js/display.js') }}";
        import { minmaxAreaMenu } from "{{ url_for('static', filename='js/display.js') }}";
        (function () {
            var map = L.map('map').setView([64.5, 10], 5);

            var tileLayer = L.tileLayer.wms(
                'https://wms.geonorge.no/skwms1/wms.topo', {
                    layers: 'topo',
                    format: 'image/png',
                    attribution: '&copy; Kartverket'
                }
            ).addTo(map);

            var ringLayer = L.layerGroup().addTo(map);
            
            var spokeLayer = L.geoJson(null, {
                style: { color: 'green', weight: 2 }
            }
            ).addTo(map);

            var minmaxForm = new minmaxAreaMenu().addTo(map);
            var menu = new MissingPersonMenu().addTo(map);

            var searchAreaLayer = L.geoJson(null, {
                style: function(feature) {
                    return {
                        color: 'blue',
                        weight: 2,
                        fillOpacity: 0.3
                    };
                },
                onEachFeature: function(feature, layer) {
                    layer.on({
                        mouseover: function(e) {
                            var poly = e.target;
                            poly.setStyle({
                                color: 'yellow',
                                weight: 4,
                                fillOpacity: 0.7
                            });
                            poly.bringToFront();
                        },
                        mouseout: function(e) {
                            searchAreaLayer.resetStyle(e.target);
                        }
                    });
                }
            }).addTo(map);

            var baseLayers = {
                "Bakgrunnskart": tileLayer,
            };

            var overlays = {
                "Eiker": spokeLayer,
                "Søketeiger": searchAreaLayer
            };

            L.control.layers(baseLayers, overlays).addTo(map);

            map.on("click", (e) => {
                const selectedCategory = document.getElementById("missingPersonCategoryMenu").value;
                const minAreaValue = document.getElementById("minArea").value;
                const maxAreaValue = document.getElementById("maxArea").value;
                console.log(selectedCategory, minAreaValue, maxAreaValue)
                displayMapObjects(
                    e,
                    ringLayer,
                    spokeLayer,
                    searchAreaLayer,
                    minAreaValue,
                    maxAreaValue,
                    selectedCategory,);
            } 
            
        )

        }());
        console.log("Kartet er lagt til")
    </script>
{% endblock %}