{% extends "base.html" %}

{% block content %}
<div id="map"></div>
{% endblock %}

{% block scripts %}
    <script src="{{ url_for('static', filename='js/leaflet.js') }}"></script>
    <script src="{{ url_for('static', filename='js/display.js') }}"></script>
    <script type="text/javascript">
        (function () {
            var map = L.map('map').setView([64.5, 10], 5);

            L.tileLayer.wms(
                'https://wms.geonorge.no/skwms1/wms.topo', {
                    layers: 'topo',
                    format: 'image/png',
                    attribution: '&copy; Kartverket'
                }
            ).addTo(map);

            var ringLayer = L.layerGroup().addTo(map);

            map.on("click", (e) => displayMapObjects(e, ringLayer))

        }());
        console.log("Kartet er lagt til")
    </script>
{% endblock %}